<form #workForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane ">
        <h4 class="infoText">What are you doing? (checkboxes)</h4>
        <br/>
        <div class='row'>
            <div class="col-md-4 col-sm-12">
                <div class="choice form-group">

                    <input type="radio" ngModel #work="ngModel" id="design" class="worktype"  name="work" [(ngModel)]="workType" value="Design" required>
                    <label class="icon"  id="icon" for="design">
                        <i class="fa fa-pencil"></i>
                        
                        </label>
                    <h6>DESIGN</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                    <div class="choice form-group">


                            <input  type="radio" ngModel #work="ngModel"  id="code" name="work" [(ngModel)]="workType" value="Code" required>
                            <label class="icon" id="icon" for="code">
                                <i class="fa fa-terminal"></i>
                            </label>
                            <h6>CODE</h6>
                        </div>
            </div>
            <div class="col-md-4 col-sm-12">
                    <div class="choice form-group">

                            <input type="radio" ngModel #work="ngModel" id="develop"  name="work" [(ngModel)]="workType" value="Deploy"required>
                            <label class="icon"  id="icon" for="develop">
                                <i class="fa fa-laptop"></i>
                                
                            </label>
                            <h6>DEVELOP</h6>
                        </div>
            </div>

        <div class="card-footer">
                <div class="row">
                        <div class="col-md-6 col-sm-6">
                                <input class="btn btn-pre pull-left " name="pre" type="button" value="PREVIOUS" (click)="goToPre()" >
                        </div>
                    <div class="col-md-6 col-sm-6">
    
                            <input class="btn btn-next pull-right " name="next" type="submit" value=""  (click)="goToNext(workForm)" >
                    </div>
    
                </div>
            </div>
         </div>
    </div>
</form>