<section style="background:#eee;">
  <div class="container">
      <div class="col-md-2 mr-auto ml-auto"></div>
      <div class="col-md-8 mr-auto ml-auto box">
          
      <div class="board">
          <!-- Navigation Area (Circular Tabs) -->
          <msw-navbar></msw-navbar>
          <!-- End Navigation Area (Circular Tabs) -->

          <!-- Content Area -->
          <div class="tab-content">
              <!-- Nested view  -->
              <router-outlet></router-outlet>
          </div>
          <!-- End Content Area -->
      </div>

      <!-- For Debugging: show our valid formData -->
      <pre>{{ formData | json }}</pre>
    </div>
    <div class="col-md-2 mr-auto ml-auto"></div>
  </div>
</section>